language: node_js
node_js:
  - "node"
git:
  quiet: true
branches:
  only:
  - master
services:
  - docker
before_install:
- docker run -d -p 4444:4444 -v /dev/shm:/dev/shm selenium/standalone-chrome:3.141.59-radium
install:
  - npm install
script:
  - npm test
cache: npm